@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="~/css/bstreeview.css">
<link rel="stylesheet" href="~/css/bootstrap-treeview.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" />
<script src="~/lib/sweet-alert/sweet_alert.js"></script>
<script src="~/lib/script/thuc-hien-nckh.js"></script>
<style>
    * {
        box-sizing: border-box;
    }

    .row {
        margin-left: -5px;
        margin-right: -5px;
    }

    .column {
        float: left;
        width: 50%;
        padding: 5px;
    }

    /* Clearfix (clear floats) */
    .row::after {
        content: "";
        clear: both;
        display: table;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
    }

    th, td {
        text-align: center;
        padding: 16px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    label {
        font-weight: bold;
    }
</style>

<div class="modal fade" id="modalLoadingThucHienNCKH" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content" style="background-color:transparent !important; border:none !important">
            <div class="modal-body">
                <div class="text-center">
                    <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class=".container-fluid">
    <div class="row" style="height:600px">
        <div class="column" style="width: 18%; margin-left: 20px">
            <div><label style="display: flex; font-size: 1.3rem; justify-content: center;align-items: center;height: 100%;">DANH SÁCH GIẢNG VIÊN</label></div>
            <label for="fname">Niên khóa</label>
            <select onchange="onChange_Select_NienKhoa(event)" class="form-control" id="select_NienKhoa" style="border: 1px solid #aaa; border-radius: 3px; padding: 5px; background-color: transparent; width: 100%; max-width: 100%;"></select>

            <label for="fname">Học Kỳ</label>
            <select onchange="onChange_Select_HocKy(event)" class="form-control" id="select_HocKy" style="border: 1px solid #aaa; border-radius: 3px; padding: 5px; background-color: transparent; width: 100%; max-width: 100%;"></select>

            <label for="fname">Khoa</label>
            <select onchange="onChange_Select_Khoa(event)" class="form-control" id="select_Khoa" style="border: 1px solid #aaa; border-radius: 3px; padding: 5px; background-color: transparent; width: 100%; max-width: 100%;"></select>
        </div>
        <div class="column" style="width:80%">
            <button type="button" class="btn btn-primary" id="btnAddThucHienNCKH">
                Thêm
            </button>
            <button type="button" class="btn btn-outline-success" id="btnCopyThucHienNCKH" onclick="copyThucHienNCKH()">
                Sao chép thực hiện NCKH
            </button>
            <div class="row" id="copyThucHienNCKH" style="display:none;">
                <label for="fname">Sao chép thực hiện NCKH của giảng viên từ</label>
                <label for="fname">Niên khóa</label>
                <select onchange="onChange_Select_NienKhoa_Copy(event)" class="form-control" id="select_NienKhoa_Copy" style="border: 1px solid #aaa; border-radius: 3px; padding: 5px; background-color: transparent;width:18%;"></select>
                <label for="fname">Học Kỳ</label>
                <select class="form-control" onchange="onChange_Select_HocKy_Copy(event)" id="select_HocKy_Copy" style="border: 1px solid #aaa; border-radius: 3px; padding: 5px; background-color: transparent;width:18%;"></select>
                <div class="column" style="width:80%">
                    <button type="button" class="btn btn-primary" id="btnAgreeCopy" onclick="functionCopyThucHienNCKH()">
                        Sao chép
                    </button>
                    <button type="button" class="btn btn-outline-success" id="btnCancelCopy" onclick="cancelCopyThucHienNCKH()">
                        Hủy
                    </button>
                </div>
            </div>
            <br />

            <!-- Modal -->
            <!-- Button trigger modal -->
            <!-- Modal -->
            <div class="modal fade" id="modalAddThucHienNCKH" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="label_ThucHienNCKH"></h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form class="row g-4" id="formAddTTTN" style="margin-bottom:20px">
                                <div class="row-cols-6" style="margin-top: 10px;">
                                    <label for="inputTLC" style="width:100%">Giảng viên</label>
                                    <select class="form-control" id="select_GV" chucDanh="" chucVu="" onchange="onChange_Select_GV()" style="border: 1px solid #aaa; border-radius: 3px; padding: 5px; background-color: transparent; width: 100%; max-width: 100%;"></select>
                                </div>
                                <div class="row-cols-6" style="margin-top: 10px;">
                                    <label for="inputTLC" style="width:100%">Chức Danh</label>
                                    <input type="text" min="0" class="form-control" id="chucDanh" readonly>
                                </div>
                                <div class="row-cols-6" style="margin-top: 10px;">
                                    <label for="inputTLC" style="width:100%">Chức Vụ</label>
                                    <input type="text" min="0" class="form-control" id="chucVu" readonly>
                                </div>
                                <div class="row-cols-6" style="margin-top: 10px;">
                                    <label for="inputTLC" style="width:100%">Thực tế</label>
                                    <input type="number" min="0" class="form-control" id="thucTeNCKH">
                                </div>
                                <div class="row-cols-6" style="margin-top: 10px;">
                                    <label for="inputTLC" style="width:100%">Ghi chú</label>
                                    <input type="text" min="0" class="form-control" id="ghiChu">
                                </div>

                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" id="btnCloseThucHienNCKH">Thoát</button>
                            <button type="button" class="btn btn-primary" id="btnSaveThucHienNCKH" onclick="saveThucHienNCKH(false)">Lưu</button>
                            <button type="button" class="btn btn-primary" id="btnSaveCloseThucHienNCKH" onclick="saveThucHienNCKH(true)">Lưu và thoát</button>
                        </div>
                    </div>
                </div>
            </div>

            <label for="fname" id="titleThucHienNCKH">Thông tin định mức</label>
            <table id="table_ThucHienNCKH" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Mã giảng viên</>
                        <th>Mã NKHK</th>
                        <th>Họ tên giảng viên</th>
                        <th>Chức danh</th>
                        <th>Chức vụ</th>
                        <th>Thực tế NCKH</th>
                        <th>Ghi chú</th>
                        <th>Chỉnh sửa</th>
                        <th>Xóa</th>
                    </tr>
                </thead>
                <tbody id="tbody">
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
