@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="~/css/bstreeview.css">
<link rel="stylesheet" href="~/css/bootstrap-treeview.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" />
<script src="~/lib/sweet-alert/sweet_alert.js"></script>
<script src="~/lib/script/lop-tin-chi.js"></script>
<style>
    * {
        box-sizing: border-box;
    }

    .row {
        margin-left: -5px;
        margin-right: -5px;
    }

    .column {
        float: left;
        width: 50%;
        padding: 5px;
    }

    /* Clearfix (clear floats) */
    .row::after {
        content: "";
        clear: both;
        display: table;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
    }

    th, td {
        text-align: center;
        padding: 16px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    label {
        font-weight: bold;
    }
</style>

<div class="modal fade" id="modalLoadingLTC" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content" style="background-color:transparent !important; border:none !important">
            <div class="modal-body">
                <div class="text-center">
                    <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class=".container-fluid">
    <div class="row" style="height:600px">
        <div class="column" style="width: 18%; margin-left: 20px">
            <div><label style="display: flex; font-size: 1.3rem; justify-content: center;align-items: center;height: 100%;">DANH SÁCH GIẢNG VIÊN</label></div>
            <label for="fname">Niên khóa</label>
            <select onchange="onChange_Select_NienKhoa(event)" class="form-control" id="select_NienKhoa" style="border: 1px solid #aaa; border-radius: 3px; padding: 5px; background-color: transparent; width: 100%; max-width: 100%;"></select>

            <label for="fname">Học Kỳ</label>
            <select onchange="onChange_Select_HocKy(event)" class="form-control" id="select_HocKy" style="border: 1px solid #aaa; border-radius: 3px; padding: 5px; background-color: transparent; width: 100%; max-width: 100%;"></select>

            <label for="fname">Khoa</label>
            <select onchange="onChange_Select_Khoa(event)" class="form-control" id="select_Khoa" style="border: 1px solid #aaa; border-radius: 3px; padding: 5px; background-color: transparent; width: 100%; max-width: 100%;"></select>
            <label for="fname" id="label_GV">Giảng viên</label>
            <div class="form-control" id="tree_GV"></div>
        </div>
        <div class="column" style="width:80%">
            <button type="button" class="btn btn-primary" id="btnAddLTC">
                Thêm
            </button>
            <br />

            <!-- Modal -->
            <!-- Button trigger modal -->
            <!-- Modal -->
            <div class="modal fade modal-xl" id="modalAddLTC" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="label_LTC"></h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form class="row g-4" id="formAddLTC" style="margin-bottom:20px">
                                <div class="col-md-3" style="margin-top: 10px;">
                                    <label for="inputTLC">Tên lớp tín chỉ</label>
                                    <input type="text" class="form-control" id="tenLTC">
                                </div>
                                <div class="col-md-3 " style="margin-top: 10px;">
                                    <label for="validationDefault01" class="form-label">Môn học</label>
                                    <select class="form-control" id="select_MonHoc" onchange="onChange_Select_MonHoc()" style="border: 1px solid #aaa; border-radius: 3px; padding: 5px; background-color: transparent; width: 100%; max-width: 100%;" ></select>
                                </div>

                                <div class="col-md-2" style="margin-top: 10px;">
                                    <label for="inputTLC">Hệ số học kỳ</label>
                                    <input type="number" min="1.0" step="0.1" class="form-control" id="hsHocKy">
                                </div>

                                <div class="col-md-2" style="margin-top: 10px;">
                                    <label for="inputTLC">Hệ số LTC</label>
                                    <input type="number" min="1.0" step="0.1" class="form-control" id="hsLTC">
                                </div>

                                <div class="col-md-2" style="margin-top: 10px;">
                                    <label for="inputTLC">Thanh toán</label>
                                    <input type="number" class="form-control" id="thanhToan" readonly>
                                </div>

                                <div class="col-md-2" style="margin-top: 10px;">
                                    <label for="inputTLC">Bậc học</label>
                                    <select class="form-control" id="select_BacHoc" onchange="onChange_Select_BacHoc()" style="border: 1px solid #aaa; border-radius: 3px; padding: 5px; background-color: transparent; width: 100%; max-width: 100%;"></select>
                                </div>

                                <div class="col-md-2" style="margin-top: 10px;">
                                    <label for="inputTLC">HS bậc</label>
                                    <input type="number" min="1.0" step="0.1" class="form-control" id="hsBac">
                                </div>

                                <div class="col-md-2" style="margin-top: 10px;">
                                    <label for="inputTLC">Hệ lớp</label>
                                    <select class="form-control" id="select_HeLop" onchange="onChange_Select_HeLop()" style="border: 1px solid #aaa; border-radius: 3px; padding: 5px; background-color: transparent; width: 100%; max-width: 100%;"></select>
                                </div>

                                <div class="col-md-2" style="margin-top: 10px;">
                                    <label for="inputTLC">HS Hệ lớp</label>
                                    <input type="number" min="1.0" step="0.1" class="form-control" id="hsHeLop">
                                </div>

                                <div class="col-md-2">
                                    <br />
                                    <input type="checkbox" id="lopDem" onclick="LopDem()">
                                    <label for="validationDefault01" class="form-label">Lớp đêm</label>
                                </div>

                                <div class="col-md-2" style="margin-top: 10px;">
                                    <label for="inputTLC">HS lớp đêm</label>
                                    <input type="number" min="1.0" step="0.1" class="form-control" id="hsLopDem" value="1.0" readonly>
                                </div>

                                <div class="col-md-2">
                                    <br />
                                    <input type="checkbox" id="monMoi" onclick="MonMoi()">
                                    <label for="validationDefault01" class="form-label">Môn mới</label>
                                </div>

                                <div class="col-md-2" style="margin-top: 10px;">
                                    <label for="inputTLC">HS môn mới</label>
                                    <input type="number" min="1.0" step="0.1" class="form-control" id="hsMonMoi" value="1.0" readonly>
                                </div>

                                <div class="col-md-2" style="margin-top: 10px;">
                                    <label for="inputTLC">Đơn giá</label>
                                    <input type="number" min="0" class="form-control" id="donGia">
                                </div>

                                <div class="col-md-2" style="margin-top: 10px;">
                                    <label for="inputTLC">Sỉ số</label>
                                    <input type="number" min="1" step="1" class="form-control" id="siSo" onChange="onKeyUpSiSo()">
                                </div>

                                <div class="col-md-2" style="margin-top: 10px;">
                                    <label for="inputTLC">HS lớp đông LT</label>
                                    <input type="number" min="1.0" step="0.1" class="form-control" id="hsLDLT">
                                </div>

                                <div class="col-md-2" style="margin-top: 10px;">
                                    <label for="inputTLC">Số nhóm TH</label>
                                    <input type="number" class="form-control" id="soNhomTH" onchange="onKeyUpSoNhomTH()">
                                </div>

                                <div class="col-md-2" style="margin-top: 10px;">
                                    <label for="inputTLC">HS nhóm TH</label>
                                    <input type="number" min="1.0" step="0.1" class="form-control" id="hsNhomTH">
                                </div>

                                <div class="col-md-2" style="margin-top: 10px;">
                                    <label for="inputTLC">HS lớp đông TH</label>
                                    <input type="number" class="form-control" id="hsLDTH" onclick="onClickHSTH()">
                                </div>

                                <div class="col-md-2" style="margin-top: 10px;">
                                    <label for="inputTLC">Tiết LT QĐ</label>
                                    <input type="number" min="1" step="1" class="form-control" id="tietLTQD">
                                </div>

                                <div class="col-md-2" style="margin-top: 10px;">
                                    <label for="inputTLC">Thực dạy</label>
                                    <input type="number" min="1" step="1" class="form-control" id="tietLTTD">
                                </div>

                                <div class="col-md-2" style="margin-top: 10px;">
                                    <label for="inputTLC">Tiết BT QĐ</label>
                                    <input type="number" min="1" step="1" class="form-control" id="tietBTQD">
                                </div>

                                <div class="col-md-2" style="margin-top: 10px;">
                                    <label for="inputTLC">Thực dạy</label>
                                    <input type="number" min="1" step="1" class="form-control" id="tietBTTD">
                                </div>

                                <div class="col-md-2" style="margin-top: 10px;">
                                    <label for="inputTLC">Tiết TH QĐ</label>
                                    <input type="number" min="1" step="1" class="form-control" id="tietTHQD">
                                </div>

                                <div class="col-md-2" style="margin-top: 10px;">
                                    <label for="inputTLC">Thực dạy</label>
                                    <input type="number" min="1" step="1" class="form-control" id="tietTHTD">
                                </div>



                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" id="btnCloseLTC">Thoát</button>
                            <button type="button" class="btn btn-primary" id="btnSaveLTC" onclick="saveLTC(false)">Lưu</button>
                            <button type="button" class="btn btn-primary" id="btnSaveCloseLTC" onclick="saveLTC(true)">Lưu và thoát</button>
                        </div>
                    </div>
                </div>
            </div>

            <label for="fname" id="titleLTC"></label>
            <table id="table_LTC" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Mã LTC</>
                        <th>Tên LTC</th>
                        <th>Môn học</th>
                        <th>Sỉ số</th>
                        <th>HS LT</th>
                        <th>Nhóm TH</th>
                        <th>HS TH</th>
                        <th>LT TD</th>
                        <th>BT TD</th>
                        <th>TH TD</th>
                        <th>Tiết LT QĐ</th>
                        <th>Tiết BT QĐ</th>
                        <th>Tiết TH QĐ</th>
                        <th>Đơn giá</th>
                        <th>Hệ lớp</th>
                        <th>Bậc</th>
                        <th>Chỉnh sửa</th>
                        <th>Xóa</th>
                    </tr>
                </thead>
                <tbody id="tbody">
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
