@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">*@
 <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="~/css/bstreeview.css">
<link rel="stylesheet" href="~/css/bootstrap-treeview.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" />
<script src="~/lib/sweet-alert/sweet_alert.js"></script>
<script src="~/lib/script/lop-tin-chi.js"></script>
<style>
    * {
        box-sizing: border-box;
    }

    .row {
        margin-left: -5px;
        margin-right: -5px;
    }

    .column {
        float: left;
        width: 50%;
        padding: 5px;
    }

    /* Clearfix (clear floats) */
    .row::after {
        content: "";
        clear: both;
        display: table;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
    }

    th, td {
        text-align: center;
        padding: 16px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    label {
        font-weight: bold;
    }
</style>
<div class=".container-fluid">
    <div class="row" style="height:600px">
        <div class="column" style="width: 18%; margin-left: 20px">
            <div><label style="display: flex; font-size: 1.3rem; justify-content: center;align-items: center;height: 100%;">DANH SÁCH GIẢNG VIÊN</label></div>
            <label for="fname">Niên khóa</label>
            <select onchange="onChange_Select_NienKhoa(event)" class="form-control" id="select_NienKhoa" style="border: 1px solid #aaa; border-radius: 3px; padding: 5px; background-color: transparent; width: 100%; max-width: 100%;"></select>

            <label for="fname">Học Kỳ</label>
            <select onchange="onChange_Select_HocKy(event)" class="form-control" id="select_HocKy" style="border: 1px solid #aaa; border-radius: 3px; padding: 5px; background-color: transparent; width: 100%; max-width: 100%;"></select>

            <label for="fname">Khoa</label>
            <select onchange="onChange_Select_Khoa(event)" class="form-control" id="select_Khoa" style="border: 1px solid #aaa; border-radius: 3px; padding: 5px; background-color: transparent; width: 100%; max-width: 100%;"></select>
              <label for="fname" id="label_GV">Giảng viên</label>
            <div class="form-control" id="tree_GV"></div>
        </div>
        <div class="column" style="width:80%">
              <label for="fname" id="titleLTC"></label>
                <table id="table_LTC" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Tên LTC</th>
                        <th>Môn học</th>
                        <th>Sỉ số</th>
                        <th>HS LT</th>
                        <th>Nhóm TH</th>
                        <th>HS TH</th>
                        <th>LT TD</th>
                        <th>BT TD</th>
                        <th>TH TD</th>
                        <th>Tiết LT QĐ</th>
                        <th>Tiết TH QĐ</th>
                        <th>Đơn giá</th>
                        <th>Hệ lớp</th>
                        <th>Bậc</th>
                    </tr>
                </thead>
                <tbody id="tbody">
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
