@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<script src="~/lib/sweet-alert/sweet_alert.js"></script>
<script src="~/lib/script/nkhk.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    * {
        box-sizing: border-box;
    }

    .row {
        margin-left: -5px;
        margin-right: -5px;
    }

    .column {
        float: left;
        width: 50%;
        padding: 5px;
    }

    /* Clearfix (clear floats) */
    .row::after {
        content: "";
        clear: both;
        display: table;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
    }

    th, td {
        text-align: center;
        padding: 16px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    label {
        font-weight: bold;
    }
</style>
<div class=".container-fluid">
    <div class="row" style="height:600px">
        <div class="column" style="width:100%">
            <label style="display: flex; font-size: 1.3rem; justify-content: center;align-items: center;">DANH SÁCH NIÊN KHÓA HỌC KỲ</label>
            <button type="button" class="btn btn-primary" id="btnAddNKHK">
                Thêm
            </button>

            <!-- Modal -->
            <!-- Button trigger modal -->
            <!-- Modal -->
            <div class="modal fade modal-lg" id="modalAddNKHK" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="titleAddNKHK"></h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form class="row g-3" id="formAddNKHK" style="margin-bottom:20px">
                                <div class="col-md-4">
                                    <label for="validationDefault01" class="form-label">Niên khóa</label>
                                    <input type="text" class="form-control" id="tenNienKhoa">
                                </div>
                                <div class="col-md-3">
                                    <label for="fname" style="margin-bottom:0.5rem">Học kỳ</label>
                                    <select onchange="onChange_Select_HocKy(event)" class="form-control" id="select_HocKy" aria-label="Default select example" style="border: 1px solid #aaa; border-radius: 3px; padding: 5px; background-color: transparent; width: 100%; max-width: 100%;">
                                        <option value="1">Học Kỳ 1</option>
                                        <option value="2">Học Kỳ 2</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" id="btnCloseNKHK">Thoát</button>
                           @* <button type="button" class="btn btn-primary" id="btnSaveNKHK" onclick="saveNKHK(false)">Lưu</button>*@
                            <button type="button" class="btn btn-primary" id="btnSaveCloseNKHK" onclick="saveNKHK(true)">Lưu và thoát</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="modalLoadingNKHK" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-sm">
                    <div class="modal-content" style="background-color:transparent !important; border:none !important">
                        <div class="modal-body">
                            <div class="text-center">
                                <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br />  <br />
         @*   <input type="checkbox" onchange="showAllNKHK()" id="showAll">
            <label for="validationDefault01" class="form-label">Hiển thị tất cả</label>*@
            <label id="notify" style="display: none;color: red;font-style: italic;font-size: 10pt;">* Ở chế độ hiển thị tất cả, bạn không thể thêm, chỉnh sửa, xóa người ký!</label>
            <table id="table_NKHK" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Mã NKHK</th>
                        <th>Niên khóa</th>
                        <th>Học kỳ</th>
                        <th>Xóa</th>
                    </tr>
                </thead>
                <tbody id="tbody">
                </tbody>
            </table>
        </div>
    </div>
</div>

