<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.98.0">
    <title id="title">THANH TOÁN TRỘI GIỜ</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/navbar-fixed/">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">



    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @@media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        .b-example-divider {
            height: 3rem;
            background-color: rgba(0, 0, 0, .1);
            border: solid rgba(0, 0, 0, .15);
            border-width: 1px 0;
            box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
        }

        .b-example-vr {
            flex-shrink: 0;
            width: 1.5rem;
            height: 100vh;
        }

        .bi {
            vertical-align: -.125em;
            fill: currentColor;
        }

        .nav-scroller {
            position: relative;
            z-index: 2;
            height: 2.75rem;
            overflow-y: hidden;
        }

            .nav-scroller .nav {
                display: flex;
                flex-wrap: nowrap;
                padding-bottom: 1rem;
                margin-top: -1px;
                overflow-x: auto;
                text-align: center;
                white-space: nowrap;
                -webkit-overflow-scrolling: touch;
            }

        body {
            min-height: 75rem;
            padding-top: 4.5rem;
        }

        .navbar-expand-md {
            z-index: 1054 !important;
        }
    </style>
    <!-- Custom styles for this template -->


</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">THANH TOÁN TRỘI GIỜ</a>
            @*  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
            <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            Nhập liệu
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" href="giangvien">Giảng viên</a></li>
            <li><a class="dropdown-item" href="bo-mon">Bộ Môn</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
            </div>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
            </li>
            </ul>
            </div>*@

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDarkDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Nhập dữ liệu
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDarkDropdown">
                            <li><a class="dropdown-item" href="/giangvien">Giảng viên</a></li>
                            <li><a class="dropdown-item" href="/lop-tin-chi">Lớp tín chỉ</a></li>
                            <li><a class="dropdown-item" href="/bo-mon">Bộ môn</a></li>
                            <li><a class="dropdown-item" href="/thuc-tap-tot-nghiep">Thực tập tốt nghiệp</a></li>
                            <li><a class="dropdown-item" href="/dinh-muc-giang">Định mức giảng</a></li>
                            <li><a class="dropdown-item" href="/dinh-muc-nckh">Định mức NCKH</a></li>
                            <li><a class="dropdown-item" href="/thuc-hien-nckh">Thực hiện NCKH</a></li>

                            <li><a class="dropdown-item" href="/chuc-vu">Chức vụ</a></li>
                            <li><a class="dropdown-item" href="/mon-hoc">Môn học</a></li>
                            <li><a class="dropdown-item" href="/nguoi-ky">Người ký</a></li>

                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDarkDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Hệ số
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDarkDropdown">
                            <li><a class="dropdown-item" href="/bac-hoc">Bậc Học</a></li>

                            <li><a class="dropdown-item" href="/hoc-vi">Học Vị</a></li>
                            <li><a class="dropdown-item" href="/he-lop">Hệ Lớp</a></li>
                            <li><a class="dropdown-item" href="/lop-dong-ly-thuyet">Lớp Đông Lý Thuyết</a></li>
                            <li><a class="dropdown-item" href="/lop-dong-thuc-hanh">Lớp Đông Thực Hành</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDarkDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Import
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDarkDropdown">
                            <li><a class="dropdown-item" href="/thuc-tap-tot-nghiep/import">Thực tập tốt nghiệp</a></li>
                            <li><a class="dropdown-item" href="/lop-tin-chi/import">Lớp tín chỉ</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDarkDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Báo cáo
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDarkDropdown">
                            <li><a class="dropdown-item" href="/report/khoi-luong-giang">Khối lượng giờ giảng</a></li>
                            <li><a class="dropdown-item" href="/report/thanh-toan-gio-giang">Thanh toán trội giờ</a></li>
                            <li><a class="dropdown-item" href="/report/thuc-tap-tot-nghiep">Thực tập tốt nghiệp</a></li>
                            <li><a class="dropdown-item" href="/report/dinh-muc">Định mức</a></li>
                            <li><a class="dropdown-item" href="/report/ti-le-giang">Thống kê số tiết giảng</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDarkDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Tùy chọn
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDarkDropdown">
                            <li><a class="dropdown-item" href="/logout">Đăng xuất</a></li>
                            <li><a class="dropdown-item disabled" role="note" style="color: black; font-weight:bold;" id="user">TMT - GV01</a></li>
                        </ul>
                    </li>

                </ul>

            </div>
        </div>
    </nav>

    <main class="container-fluid">

        @RenderBody()

    </main>
    @*    <script src="~/lib/jquery/dist/jquery.min.js"></script>*@
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript" src="/lib/script/jquery.dataTables.min.js"></script>

    <script src="~/lib/script/bstreeview.js"></script>

    <script src="~/lib/script/bootstrap-treeview.js"></script>
    <script src="~/lib/script/navbar.js"></script>
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
